<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!toggled">{{this.competitionName}}</ion-title>
        <ion-buttons end *ngIf="!toggled" ion-button icon-only right>
            <button ion-button icon-only (click)="toggle()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>

        <ion-searchbar *ngIf="toggled"
                       (ionInput)="searchThis($event)"
                       (ionCancel)="cancelSearch($event)"
                       (ionClear)="cancelSearch($event)"
                       [showCancelButton]="true">
        </ion-searchbar>
    </ion-navbar>


</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card
                *ngFor="let category of categories | async">
            <ion-card-content>
                <ion-label color="primary">
                    <h2>{{ category.name }}</h2>
                </ion-label>
                <ion-row>
                    <ion-col *ngFor="let fase of category?.fases">
                        <ion-note>{{ fase.name }}</ion-note>
                        <ion-row *ngFor="let group of fase?.groups |orderBy:['group']"
                                 [navPush]="torneoPage"
                            [navParams]="{'fase':fase.name,'group':group.group,'torneoID':group.torneoID,'competitionName':this.competitionName,'categoryName':category.name}">
                            <button ion-button block outline>
                                {{ group.group }}
                            </button>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>