<ion-header>
    <ion-navbar padding-left no-margin class="mynavbar">

        <ion-item color="primary" no-lines no-padding no-margin>
            <span>{{torneoInfo.categoryName|shortCategory}} - {{torneoInfo.group}}</span>

            <button color="light" ion-button icon-only item-right [navPush]="clasificationTab" [navParams]=torneoInfo>
                <ion-icon name="podium"></ion-icon>
            </button>
        </ion-item>
    </ion-navbar>
    <ion-toolbar color="light" no-margin no-padding>

        <ion-item color="light" no-lines *ngIf="loaded">
            <button margin-top="0px" ion-button item-left (click)='slider.slidePrev()'>
                <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
            <ion-row style="display:block;" text-center no-margin no-padding>
                <span>Jornada {{numbers[1]}}</span>
            </ion-row>
            <ion-row style="display:block;" text-center no-margin no-padding>
                <p>{{getJornadaDate(numbers[1]-1)}}</p>

            </ion-row>
            <button margin-top="0px" ion-button item-right (click)='slider.slideNext()'>
                <ion-icon name="arrow-dropright"></ion-icon>
            </button>
        </ion-item>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-slides padding-top="3px" #mySlider (ionSlideNextEnd)="loadNext()" (ionSlidePrevEnd)="loadPrev()"
                [initialSlide]="1">
        <ion-slide *ngFor="let n of numbers">
            <ion-content padding class="spinnerCenter" *ngIf="!loaded || !jornadasLoaded">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-content>
            <ion-content *ngIf="loaded && jornadasLoaded">
                <div >
                    <div no-lines *ngFor="let match of (matches)| filter:'jornada':n | orderBy:['timestamp']">
                        <match *ngIf="!match.descansa" [match]="match"></match>
                        <match-rest *ngIf="match.descansa" [match]="match"></match-rest>
                    </div>
                </div>
            </ion-content>
        </ion-slide>
    </ion-slides>

</ion-content>
