page-torneo {

  .slide-zoom {
    height: inherit;
    //overflow-y:scroll;
    text-align: left;
  }
  //ion-slides {
  //  height: 100%;
  //}


  ion-toolbar.scrollable-segments {
    ion-segment {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;

      ion-segment-button.segment-button {
        display: inline-block;
        width: 56px;
      }
    }
  }
}
