page-modals {
  .modal-wrapper{
    position:absolute !important;
    width:90vw !important;
    height:260px !important;
    top:0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }

  .modal .backdrop{
    display:block !important;
  }
  .myModal {

    position: absolute;
    white-space: normal;
    max-width: 320px;
    border-radius: 10px;
    width: 90vw;
    height: 35vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
}
