<!--
  Generated template for the ModalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="myModal" padding>
    <ion-row>
        <ion-label color="primary">{{match.teams?.local?.name }} - {{match.teams?.visitor?.name }}
        </ion-label>
    </ion-row>
    <div padding *ngIf="!loaded">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="loaded">
        <ion-note *ngIf="match.hour">{{match.timestamp| date:'dd MMM HH:mm' }}</ion-note>
        <ion-label>{{venue?.name}}</ion-label>
        <ion-label>{{venue?.address}}</ion-label>
    </div>
    <ion-row>
        <button margin-top="30px" ion-button block (click)="closeModal()">OK</button>
    </ion-row>
</ion-content>
