<ion-menu [content]="content" [persistent]="true">
    <ion-header>
        <ion-toolbar>
            <ion-title>BM Madrid</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" [class.activeHighLight]="checkActive(p)" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

    <ion-footer padding>
            <ion-label no-margin>Contenido proporcionado por:</ion-label>
            <img padding-top src="assets/img/fmb_logo.jpg"/>
    </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>