// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHighLight {
  background-color:map-get($colors,light);
}
.mynavbar{
  height: auto !important;
  min-height: 30px;
}
.slide-zoom {
  height: inherit;
  text-align: left;
}

ion-spinner {
  display: block;
  margin: auto;
}