<!-- Generated template for the ClubInfoComponent component -->
<div padding text-wrap>
  <ion-label  no-margin *ngIf="clubInfo?.representant">Representante: {{clubInfo?.representant}}</ion-label>
  <ion-label no-margin *ngIf="clubInfo?.address">Dirección: {{clubInfo?.address}}</ion-label>
  <ion-label no-margin *ngIf="clubInfo?.town">Ciudad: {{clubInfo?.town}}</ion-label>
  <ion-label no-margin *ngIf="clubInfo?.email">Email: {{clubInfo?.email}}</ion-label>
  <ion-label no-margin *ngIf="clubInfo?.web">Web: {{clubInfo?.web}}</ion-label>
</div>
