<!--
  Generated template for the ClasificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar padding-left  no-margin class="mynavbar">
        <ion-item color="primary" no-lines no-padding no-margin>
        <span>{{torneoInfo.categoryName|shortCategory}} - {{torneoInfo.group}}</span>
        </ion-item>
    </ion-navbar>
    <ion-toolbar padding-left color="light" no-margin class="mynavbar">
        <ion-item color="light" no-lines no-padding no-margin >
            <span>Clasificación</span>
        </ion-item>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid margin-top="10ps">
        <ion-row>
            <ion-col col-1>

            </ion-col>
            <ion-col col-4 >
                Equipo
            </ion-col>
            <ion-col col-1>
                PJ
            </ion-col>
            <ion-col col-1>
                PG
            </ion-col>
            <ion-col col-1>
                PE
            </ion-col>
            <ion-col col-1>
                PP
            </ion-col>
            <ion-col col-1>
                GF
            </ion-col>
            <ion-col col-1>
                GC
            </ion-col>
            <ion-col col-1>
                Puntos
            </ion-col>

        </ion-row>
        <ion-row *ngFor="let row of clasification | orderBy:['-points','dif']; let i = index  ">
            <ion-col col-1>
                {{i+1}}
            </ion-col>
            <ion-col col-4>
                {{row.teamName}}
            </ion-col>
            <ion-col col-1>
                {{row.matchesPlayed}}
            </ion-col>
            <ion-col col-1>
                {{row.matchesWin}}
            </ion-col>
            <ion-col col-1>
                {{row.matchesTie}}
            </ion-col>
            <ion-col col-1>
                {{row.matchesLoss}}
            </ion-col>
            <ion-col col-1>
                {{row.goalsFavor}}
            </ion-col>
            <ion-col col-1>
                {{row.goalsAgainst}}
            </ion-col>
            <ion-col col-1>
                {{row.points}}
            </ion-col>


        </ion-row>
    </ion-grid>
</ion-content>
