page-clasification {
  .col{

    border: 1px solid grey;
  }
  [col-1]{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
  }
  [col-4]{
    font-size: 12px;
    overflow: hidden;
    white-space: inherit;
  }

}
