<!--
  Generated template for the ClubDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{club?.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding margin-top="70px">
    <club-info [clubInfo]="club"></club-info>

    <ion-label>Equipos:</ion-label>
    <div no-lines *ngFor='let key of _.keys(club.teams)'>
        <ion-card >
            <ion-card-content>
                <ion-label no-margin color="primary">{{club.teams[key].extName|shortCategory}}</ion-label>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

