<ion-header>
  <ion-navbar color="primary">
    <button ion-button  menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Competiciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            text-wrap
            *ngFor="let competition of competitions | async ; let i = index " [navPush]="categoriesPage"
            [navParams]="{'id':i,'name':competition.nameShort}">
      <ion-label>{{ competition.name }}</ion-label>
    </button>
  </ion-list>

</ion-content>
