<ion-card (click)="openModal(match)" >
    <ion-card-content no-margin center text-center >
        <!--Local team -->
        <ion-label *ngIf="showCategory && match.teams.local?.clubID===clubID" no-margin color="primary">
            {{match.teams?.local?.name }} ({{match.torneo_info?.category|shortCategory }})
        </ion-label>
        <ion-label *ngIf="!showCategory || match.teams.local?.clubID!==clubID" no-margin color="primary">{{
            match.teams?.local?.name }}

        </ion-label>
        <!--Result -->
        <ion-label *ngIf="match?.result && !match.descansa" no-margin color="secondary">{{ match.result}}</ion-label>
        <!--Visitor team -->
        <ion-label *ngIf="showCategory && match.teams.visitor?.clubID===clubID && !match.descansa" no-margin color="primary">
            {{match.teams?.visitor?.name }} ({{match.torneo_info?.category|shortCategory }})
        </ion-label>
        <ion-label *ngIf="!showCategory || match.teams.visitor?.clubID!==clubID && !match.descansa" no-margin color="primary">
            {{match.teams?.visitor?.name}}
        </ion-label>

    </ion-card-content>
    <ion-row>
        <ion-col col-5>
            <ion-note padding-left="4px" *ngIf="!match.hour">Sin fecha</ion-note>
            <ion-note padding-left="4px" *ngIf="match.hour">{{match.timestamp| date:'dd MMM HH:mm' }}    </ion-note>
        </ion-col>
        <ion-col   col-7 right text-right>
            <ion-note class="nowrap">{{match.venue}}</ion-note>
        </ion-col>
    </ion-row>
</ion-card>