<!-- Generated template for the MatchPlayedComponent component -->
<ion-card class="background-grey">
    <ion-card-content center text-center>
        <ion-label *ngIf="showCategory" no-margin color="primary">{{
            match.torneo_info?.category }}
        </ion-label>
        <ion-label *ngIf="!showCategory" no-margin color="primary">{{
            match.teams?.local?.name }}
        </ion-label>
        <ion-label no-margin>DESCANSA</ion-label>
    </ion-card-content>

</ion-card>