<!--
  Generated template for the ClubsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button  menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clubs</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="searchQuery"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content >

  <ion-list>
    <ion-item [navPush]="ClubMatchesPage"
            *ngFor="let club of clubs | async" [navParams]="club" >
            {{ club?.name }}
    </ion-item>
  </ion-list>
</ion-content>