<!-- Generated template for the TorneoInfoComponent component -->
<div padding>
    <ion-label>{{(torneoInfo| async)?.competition}}</ion-label>
    <ion-label>{{(torneoInfo| async)?.category}}</ion-label>
    <ion-label>{{(torneoInfo| async)?.phase}} - {{(torneoInfo| async)?.group}}</ion-label>
 </div>