<!--
  Generated template for the ClubMatchesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar padding-left no-margin class="mynavbar">

        <ion-item color="primary" no-lines no-padding no-margin>
            <span>  {{club.name}}</span>

            <button default color="light" ion-button icon-only item-right [navPush]="ClubDetailPage" [navParams]=club>
                <ion-icon name="information"></ion-icon>
            </button>
        </ion-item>

    </ion-navbar>
    <ion-toolbar color="light">
        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="Última jornada">
                Última
            </ion-segment-button>
            <ion-segment-button value="Esta jornada">
                Esta jornada
            </ion-segment-button>
            <ion-segment-button value="Próxima jornada">
                Próxima
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-label *ngIf="loaded" padding-left>{{ selectedSegment }}:</ion-label>
    <ion-slides initialSlide="1" #mySlider (ionSlideDidChange)="onSlideChanged($event)">

        <ion-slide *ngFor="let week of weeks">
            <ion-content class="slidescroll">
                <ion-spinner margin-top="20px" *ngIf="!loaded"></ion-spinner>
                <div *ngIf="loaded">
                    <div *ngIf="(matches | filter:'weekNumber':week).length === 0">
                        <ion-label padding>No hay partidos esta semana</ion-label>
                    </div>
                    <div no-lines *ngFor="let match of (matches)| filter:'weekNumber':week | orderBy:['timestamp']">
                        <match *ngIf="!match.descansa" [match]="match" [showCategory]="true"
                               [clubID]="club.clubID"></match>
                        <match-rest *ngIf="match.descansa" [match]="match" [showCategory]="true"></match-rest>
                    </div>
                </div>
            </ion-content>
        </ion-slide>
    </ion-slides>
</ion-content>

