<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Balonmano Madrileño</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-label>Clubs:</ion-label>
    <ion-list *ngFor="let club of favouriteClubs">
        <ion-card [navPush]="ClubMatchesPage" [navParams]="club">
            <ion-card-content>{{ club?.name }}</ion-card-content>
        </ion-card>
    </ion-list>
    <ion-label>Competiciones:</ion-label>
    <ion-list *ngFor="let torneo of favouriteTorneos">
        <ion-card [navPush]="TorneoPage" [navParams]="torneo">
            <ion-card-content>{{ torneo?.name }}</ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
